<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/Admilayout :: base(~{::contenidoAdmin})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main th:fragment="contenidoAdmin">
        <!-- Navbar -->
        <nav class="navbar bg-white shadow-sm px-4">
            <h4 class="mb-0">Panel de Administración</h4>

            <div>
                <span class="fw-bold">Administrador</span>
            </div>
        </nav>
        <!--Productos-->
    </main>
</body>
</html>